body {
    background-color: #eee;
}

.header_contents, .main_section, .content_box, footer {
    /* border: 1px dashed red; */
    width: 960px;
    margin: auto;
}

header, footer {
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #ddd;
}

.logo {
    background-color: #4aaaa5;
    padding: 5px 40px;
    color: #fff;
}

.logo, ul {
    /* border: 1px dashed blue; */
}

.header_contents, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.content_box {
    background: #fff;
    overflow: hidden;
    margin: 40px 0px;
    padding: 5px 40px 40px 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h5 {
    font-weight: 100;
}

hr {
    margin-bottom: 40px;
}

ul {
    /* display: inline; */
    align-self: center;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding: 15px;
}

a {
    text-decoration: none;
    font-color: rgb(83, 83, 83);
}

img {
    background-color: bisque;
    height: 200x;
    width: 200px;
    float: left;
    margin-right: 20px;
}

p {
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #666;
    border-top: 4px solid #4aaaa5;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}